<script>
    var a=[];
    //a.push('this');
    //document.write(a);
    function abcd(){
        var b=document.getElementById('userInput').value;
        a.push(b);
        document.getElementById('output').innerHTML=a;
        document.getElementById('userInput').value="";
        document.getElementById('userInput').focus();
    }
    function selectone(){
        var arrlength=a.length;
        var random = Math.floor(Math.random()*arrlength);
        alert(a[random]);
    }
</script>
<input type="text"id="userInput">
<input type="button"  onclick="abcd()"/ value="add" > 
<input type="button"  value="select one" onclick="selectone()" > 
<div id="output" ></div>
