<script>
    var mystr = 'peter parker is also known as spiderman';
    document.write(mystr.toUpperCase());
    document.write("<br/>");
    document.write(mystr.toLowerCase());
    document.write("<br/>");
    document.write(mystr.search("parker"));
    document.write("<br/>");
    document.write(mystr.replace("parker","potter"));
    document.write(mystr.toUpperCase());
</script>