<script>
    var a=10.40;
    document.write(Math.ceil(a));
    document.write("<br/>");
    document.write(Math.floor(a));
    document.write("<br/>");
    document.write(Math.round(a));
    document.write("<br/>");
    document.write(Math.round(Math.random()*50));
    document.write("<br/>");

    function randomGeneration(min,max){
        return Math.floor(Math.random()*(max-min)+min);
    }
    document.write(randomGeneration(1000,9999));
</script>