
        .a{
    background-color:red; 
    width:50%;
    height:300px ;
    float:left ;
}
.b{
    background-color: green;
    width:50%;
    height:300px;
    float:left;
}
@media screen and (max-width:500px){
    .a{ 
        background-color:green; 
        width:100%;
        height:300px ;
     }
     .b{
        background-color:red; 
        width:100%;
        height:300px ;
    
     }
    
}
